.Product {
    padding-block: 100px;
    display: flex;
    gap: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 0 0 1 1;
}

.image {
    max-width: 800px;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    flex: 0 0 1 1;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 40px;
}